[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
{% if k3s_memory_limit %}
MemoryLimit={{ k3s_memory_limit }}
{% endif %}
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStartPre=-/sbin/modprobe wireguard
ExecStartPre=-/bin/ln -s /dev/console /dev/kmsg
{% if k3s_server %}
ExecStart=/usr/local/bin/k3s agent --server https://{{ k3s_server }}:6443 --token {{ k3s_server_token }}
{% else %}
ExecStart=/usr/local/bin/k3s server
{% endif %}
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
